services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: bash -c "uv sync && sleep 5 && uv run fastapi dev app/main.py --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/profwatch
    volumes:
      - ./backend:/app
    restart: unless-stopped

  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: profwatch
    restart: unless-stopped
